<html>
  <head><title>Email Verification for {{appName}}</title></head>
  <body>
    <h1>Welcome to {{appName}}</h1>
    <p>You're now a member of {{appName}}!</p>
    <a href={{verificationUrl}}>Verify your email</a>
  </body>
</html>