/* Structure and layout */
.flexgrow {
  flex-grow: 1;
}

.flex {
  display: flex;
}

.flexcolumn {
  flex-direction: column;
}

.aligncenter {
  align-items: center;
}

.jc {
  justify-content: center;
}

/* Margin and padding classes */
.mr16 {
  margin-right: 16px;
}

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}

.mt32 {
  margin-top: 32px;
}

/* padding */
.p16 {
  padding: 16px;
}

.p8 {
  padding: 8px;
}

.pb0 {
  padding-bottom: 0px;
}

.pt0 {
  padding-top: 0px;
}

/* Sizing */
.w100 {
  width: 100%;
}
