<html>
  <head><title>Email Verification for {{appName}}</title></head>
  <body>
    <p>In order to unlock more features in {{appName}}, please verify your email by following the link below.</p>
    <a href={{verificationUrl}}>Verify your email</a>
  </body>
</html>