<html>
  <head><title>Reset password for {{appName}}</title></head>
  <body>
    <p>Follow the link below to reset your password for {{appName}}!</p>
    <a href={{resetUrl}}>Reset your password</a>
    <br />
    <p>If you did not ask to reset your password, follow the link below</p>
    <a href={{resetCancelUrl}}>Cancel password reset request</a>
  </body>
</html>